* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full screen height */
  font-family: Arial, sans-serif;
}
.card {
  margin-top: 50px;
  width: 30%;
  max-width: 470px;
  height: 580px;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: white;
  border-radius: 15px;
}
.search input {
    background-color: black;
  display: flex;
  padding: 10px;
  border: none;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
  color: #656565;
}
.search {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.search button {
background-color: black;
  width: 50px;
  height: 40px;
  border-radius: 20px;
  border: none;
}
.weather img {
  padding-left: 110px;
  padding-top: 50px;
  height: 200px;
}
.temperature {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-size: 60px;
}
.city {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: 200;
}
.weather img {
  padding-left: 110px;
  padding-top: 50px;
  height: 200px;
}

.details {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  text-align: center;
}

.humidity,
.windspeed {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.humidity img,
.windspeed img {
  height: 50px;
}
.error {
  text-align: left;
  margin-left: 60px;
  margin-top: 5px;
  display: none;
}
